@import '../../styles/variables.scss';

.comics__item {
  background: $white;
  border-radius: 10px;
  box-shadow: $small-shadow;
  transition: all 0.35s linear;
  position: relative;
  display: flex;
  padding: 10px;
  gap: 15px;

  &-img {
    width: 180px;
    border-radius: 10px;
    box-shadow: $small-shadow;
  }

  &-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &-title {
    text-align: center;
  }

  &-price {
    font-size: 2.5em;
    color: green;
    margin: 0 auto;
  }

  &-description {
    position: absolute;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin-top: auto;
    margin-bottom: auto;
    overflow: hidden;
    opacity: 0;
    transition: all 0.35s linear;

    z-index: -1;
    color: aliceblue;
  }

  &:hover {
    background: rgba(0, 0, 0, .7);

    .comics__item-img {
      opacity: 0;
    }

    .comics__item-info {
      opacity: 0;
    }

    .comics__item-description {
      color: aliceblue;
      z-index: 2;
      opacity: 1;
    }
  }
}
