@import '../../styles/variables.scss';

.card-list {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
  row-gap: 10px;

  .list__item {
    background: $white;
    box-shadow: $small-shadow;
    border-radius: 15px;
    padding: 12px 15px;

    display: flex;
    flex-direction: column;
    gap: 0.5em;

    img {
      width: 140px;
      height: 140px;
      border-radius: 15px;
    }
  }
}
