@import '../../styles/variables.scss';

.form-cards {
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 250px);
    justify-content: space-around;
    row-gap: 20px;
  }
}
