@import '../../styles/variables.scss';

.card {
  &__modal {
    position: relative;
    border-radius: 10px;
    width: 800px;
    display: grid;
    grid-template-columns: 60% 1fr;
    background-color: aliceblue;
    box-shadow: $white-shadow;
  }

  &__image {
    object-fit: cover;
    width: 100%;
    height: 450px;
    border-radius: 10px 0 0 10px;
  }

  &__info {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    &-header {
      display: flex;
      align-items: center;
      justify-content: space-around;
      font-size: 2em;

      img {
        width: 80px;
        object-fit: cover;
        border-radius: 10px;
      }
    }

    &-list {
      font-size: 18px;
      display: flex;
      flex-direction: column;
      gap: 10px;

      .likes {
        position: absolute;
        bottom: 10px;
      }
    }

    .list-item {
      display: flex;
      align-items: center;
      gap: 5px;

      a {
        display: flex;
        align-items: center;
        transition: color 0.3s linear;

        &:hover {
          color: blueviolet;
        }
      }
    }
  }
}

.close-modal {
  position: absolute;
  width: 48px;
  left: -10px;
  top: -10px;
  cursor: pointer;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.05);
  }
}
